html, body {
    margin: 0;
    padding: 0;
}

#form {
    font-family: 'Calistoga';
}

body {
    background: url("assets/plant4.avif") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#card {
    background-color: #B1D7B460;
}

#register {
    text-shadow: 3px 3px #283E56;
}